__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
.venv/
env/
.env/
env.bak/

.env
.env.*

*.log
*.sqlite3

data/
*.csv
*.json
*.pkl
*.h5
*.pt
models/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

.ipynb_checkpoints/

*.bak
